<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>
    Pipes incluídos en Angular - Usualmente en Common Module.
  </p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase"
            [subheader]="nombreLower" >
      {{ nombreLower | uppercase}}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="lowercase"
            [subheader]="nombreUpper" >
      {{ nombreUpper | lowercase}}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="titlecase"
            [subheader]="nombreCompleto" >
      {{ nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>
    Pipes para mostrar las fechas.
  </p>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-card >
      <ul>
        <li> fecha </li>
        <li> fecha | date </li>
        <li> fecha | date: 'short' </li>
        <li> fecha | date: 'long' </li>
        <li> fecha | date: 'y MMM d hh:mm a' </li>
        <li> fecha | date: 'MMMM d, yyyy' </li>
      </ul>

      <hr>

      <ul>
        <li> fecha | date: 'long':'GMT-7' </li>
        <li> fecha | date: 'long':'GMT-4' </li>
        <li> fecha | date: 'long':'GMT-4':'en' </li>
        <li> fecha | date: 'long':'GMT-4':'fr' </li>
      </ul>

    </p-card>
  </div>

  <div class="p-col-6">
    <p-card >
      <ul>
        <li> {{ date }} </li>
        <li> {{ date | date }} </li>
        <li> {{ date | date: 'short' }} </li>
        <li> {{ date | date: 'long' }} </li>
        <li> {{ date | date: 'y MMM d hh:mm a' }} </li>
        <li> {{ date | date: 'MMMM d, yyyy' }} </li>
      </ul>

      <hr>

      <ul>
        <li> {{ date | date: 'long':'GMT-7' }} </li>
        <li> {{ date | date: 'long':'GMT-4' }} </li>
        <li> {{ date | date: 'long':'GMT-4':'en' }} </li>
        <li> {{ date | date: 'long':'GMT-4':'fr' }} </li>
      </ul>
    </p-card>
  </div>
</div>
