<!-- <div class="text-layout">
  <h1>{{ nombre | lowercase }}</h1>
</div>
<button pButton type="button"
        label="Cambiar botón"
        icon="pi pi-globe"
        iconPos="right"
        class="p-button-help"></button>

<br><br>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquamdeserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditateneque quas!
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
